{% load static %}
<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="{% url 'common:home' %}">
                <img width="50px" src="{% static 'images/free-30-instagram-stories-icons23_122570.png' %}" alt="img1">
            </a>
            <a class="home" href="{% url 'common:home' %}">
                <i>Petstagram</i>
            </a>
        </div>

        <div class="nav-links">
            <ul class="nav-group">
                {# --- Links for Logged In Users --- #}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'pets:add' %}"><i>Add Pet</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'photos:add' %}"><i>Add Photo</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:details' user.pk %}"><i>Profile</i></a>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'accounts:logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" style="background:none; border:none; cursor:pointer;"><i>Log out</i></button>
                        </form>
                    </li>

                {# --- Links for Guests --- #}
                {% else %}
                    <li class="nav-item">
                        <a href="{% url 'accounts:login' %}"><i>Login</i></a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'accounts:register' %}"><i>Register</i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>